* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #323232;
  border: none;
}
body {
  background-size: cover;
}
/* tela principal */

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container {
  background-color: #fff;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 0px;
  text-align: center;
}

/* titulo */

h1 {
  font-weight: bold;
  font-size: 32px;
}

/* tela de login */
/* container login  */

.login-fomr {
  margin: 30px 0 15px 0;
}
label,
input {
  display: block;
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

label {
  font-weight: bold;
  padding-bottom: 5px;
}
input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 40px;
}

/* não apaarece as bordas */
input:focus {
  outline: none;
}
/* aparece a borda so de baixo */
input:focus {
  boder-bottom: 2px solid #e60084;
}
a {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: #08558b;
}

/* botao */
button {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  boder: none;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  /* margin-top: 20px; */
  color: #fff;
  background-color: #08558b;
  cursor: pointer;
}
button:hover {
  background-color: #1b223c;
  transition: 0.5s;
}
button:active {
  background: green;
}
/* texto */
.forgot-pass {
  text-align: right;
  display: block;
  padding: 10px 0 20px;
  /* margin-bottom: 10px; */
}
/* rede sociais  */

.social-container,
.social-container p {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.redesocial {
  margin-right: 20px;
}
/* passa o mouse porcima  */
.redesocial:hover {
  transition: 0.5s;
  /* aumenta o botao em 40% */
  transform: Scale(1.4);
}

/* comportamento ativo com o mouse clicado */
.redesocial:active {
  color: green;
}

/* registrar  */
.cadastro-container p {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

/* cadastro */

.full-box {
  flex: 1 1 100%;
  position: relative;
}
.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 4%;
}

.agreement {
  margin-right: 5px;
}
.agreement,
.agreement-label {
  display: inline-block;
  width: auto;
}
/* confirmar senha */
.box-confirme {
  flex: 1 1 45%;
  position: relative;
  display: contents;
}
/* validação */
/* .form-error {
  color: #ff1a1a;
  position: relative;
  top: -20px;
  /* font-size: 30px; */

/* confirme senha */
.form-error,
.form-error-senha {
  color: #ff1a1a;
  position: relative;
  top: -20px;
}

.form-error-email {
  color: #ff1a1a;
  position: absolute;
  top: 210px;
}
/* .form-error-senha {
  color: #ff1a1a;
  position: absolute;
  top: 17px;
} */
/* .senha-error {
  position: relative;
  top: -30px;
  color: #ff1a1a;
  font-size: 30px;
}
.template {
  display: none;
} */
*/ @media (min-width: 600px) {
}
@media (min-width: 992px) {
}
